* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.root {
    --in: 'Inter', sans-serif;
    --mo: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    padding-top: 20px;

}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 36px;
}

header nav ul {
    display: flex;
    padding: 0;
    margin: 0;

}

header nav ul li {
    padding-right: 32px;

}

header nav ul li a {
    text-decoration: none;
    font-family: var(--in);
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    color: #000;
}

header nav .logo {
    text-decoration: none;
    font-family: var(--mo);
    font-weight: 600;
    font-size: 32px;
    line-height: 39.01px;
    color: rgba(25, 34, 82, 1);
}

header nav button {
    padding: 14px 16px;
    background-color: rgba(14, 23, 52, 1);
    border-radius: 4px;
    border: none;
    color: white;
    font-family: var(--in);
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
}

header .wrap {
    padding: 80px 0px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .wrap .r h1 {
    font-family: var(--mo);
    font-weight: 600;
    font-size: 45px;
    line-height: 72px;
    margin-bottom: 24px;
}

header .wrap .r p {
    font-family: var(--in);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(132, 143, 172, 1);
    margin-bottom: 32px;
}

header .wrap #red {
    margin-top: 50px;
}

header .wrap .r button {
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    background-color: rgba(14, 23, 52, 1);
    color: white;
}

section {
    width: 100%;
}

section .wrop {
    padding: 80px 0px;
}



section .wrop h2 {
    font-family: var(--mo);
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    padding-bottom: 24px;
}

section .wrop p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 16px;
    font-family: var(--in);
}

section .wrop .y {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 32px;
    font-family: var(--in);
}

section .wrop button {
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    font-family: var(--in);
    background-color: rgba(14, 23, 52, 1);
    color: white;
}

section .rap {
    padding: 80px 0px;
}

section .rap .E {
    align-items: center;
}

section .rap h3 {
    font-family: var(--mo);
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 24;
}

section .rap p {
    font-family: var(--in);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

section .rap .l {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .rap .L {
    align-items: center;

}

section .wop {
    text-align: center;
    padding: 80px 0px;
}

section .wop .k h4 {
    font-family: var(--mo);
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: rgba(25, 34, 82, 1);
    margin-bottom: 24px;
}

section .wop .k p {
    font-family: var(--in);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 32px;
}

section .wop .k button {
    font-family: var(--in);
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: rgba(14, 23, 52, 1);
    color: white;
}

section .wop .d {
    display: flex;
    justify-content: space-between;
}

section .wop .d .icons {
    align-items: center;
}

section .wop .d .icons i {
    color: rgba(66, 79, 123, 1);
}

section .wop .f {
    margin-top: 88px;
    display: flex;
    flex-flow: column;
}

section .wop h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    font-family: var(--mo);
    margin-top: 32px;
    margin-bottom: 16px;
}

section .wop p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--in);
    margin-bottom: 32px;
    color: rgba(132, 143, 172, 1);
}

section .wop .f {
    text-align: left;
}

section .wop .lop {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--in);
    color: rgba(66, 79, 123, 1);
    margin-right: 13px;

}

section .kop {
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .kop .n .po {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--in);
    padding-bottom: 12px;
    color: #424F7B;
}

section .kop .n h6 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    font-family: var(--mo);
    margin-bottom: 24px;
    color: #192252;
}

section .kop .n p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--in);
    margin-bottom: 32px;
    color: #848FAC;
    text-decoration: none;

}

section .kop .n a {
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0E1734;
}

section .kop .n .b {
    display: flex;
    align-items: center;
}

section .kop .n .b button {
    color: #ffffff;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    font-family: var(--in);
    border: none;
    border-radius: 4px;
    background-color: rgba(14, 23, 52, 1);
    margin-right: 24px;
}

section .kop .n .b .ot {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    font-family: var(--in);
    color: rgba(14, 23, 52, 1);
}

section .kop .cun .c {
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .kop .cun .c1 {
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

section .kop .cun .c2 {
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

section .kop .cun .c2 i:hover {
    font-size: 200px;
    color: blue;
    background-color: #000;
}

section .kop .cun .c2 i {
    font-size: 40px;
    color: white;
    background-color: rgba(255, 98, 10, 1);
}

section .kop .cun .c i:hover {
    font-size: 200px;
    color: white;
    background-color: white;
}


section .kop .cun .c i {
    font-size: 40px;
    color: white;
    background-color: rgba(255, 98, 10, 1);
}


section .kop .cun .c1 .fa-solid:hover {
    font-size: 200px;
    color: green;
    image-orientation: from-image;
    background-color: red;
}

section .kop .cun .c1 .fa-solid {
    transition: 1s;
    font-size: 40px;
    color: rgba(255, 98, 10, 1);
    background-color: white;
}


section .kop .cun h1.l {
    font-family: var(--mo);
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: rgba(66, 79, 123, 1);
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

section .kop .cun .c1 p {
    font-family: var(--in);
    font-weight: 4;
    font-size: 18px;
    line-height: 27px;
    color: rgba(66, 79, 123, 1);
}

section .dop {
    text-align: center;
    padding: 80px 0px;
    text-align: center;
}

section .dop h1.f {
    font-family: var(--mo);
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: rgba(25, 34, 82, 1);
    margin-bottom: 62px;
}

section .dop p {
    text-decoration: none;
    margin-top: 44px;
    margin-bottom: 40px;
    font-family: var(--in);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color:
        rgba(132, 143, 172, 1);
}

section .dop a {
    text-decoration: none;
    font-family: var(--in);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(25, 34, 82, 1);
    padding-bottom: 94px;
}

section .end {
    width: 100%;
    background-color: #0B265A;
    display: flex;
    justify-content: space-between;
    padding: 120px 0px;
}

section .end .left h3.h {
    font-family: var(--mo);
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: white;
    margin-bottom: 13px;
}

section .end .left img {
    margin-right: 32px;
}

section .end .left p {
    font-family: var(--in);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(217, 219, 222, 1);
    padding: 0;
    margin: 0;
    margin-bottom: 39px;
}

section .end .right {
    display: flex;
    justify-content: space-between;
}

section .end .right ul {
    padding: 0;
    margin: 0;
}

section .end .right li {
    text-decoration: none;
    font-family: var(--in);
    font-weight: 700;
    font-size: 16px;
    line-height: 19.36px;
    color: white;
    padding-bottom: 24px;
}

section .end .right li a {
    text-decoration: none;
    font-family: var(--in);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color:
        rgba(217, 219, 222, 1);
}

.stories .storiesCard .box p:last-of-type {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(29, 31, 46);
}

@media (max-width:991px) {
    header nav button {
        font-size: 12px;
    }

    header .wrap .r h1 {
        font-family: var(--mo);
        font-weight: 600;
        font-size: 29px;
        line-height: 51px;
        margin-bottom: 10px;
    }

    header .wrap .r p {
        font-family: var(--in);
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
        color: rgba(132, 143, 172, 1);
        margin-bottom: 20px;
    }

    header .wrap .r button {
        padding: 12px 26px;
        border: none;
        border-radius: 4px;
        font-weight: 500;
        font-size: 15px;
        line-height: 19.36px;
        background-color: rgba(14, 23, 52, 1);
        color: white;
    }

    section .wrop h2 {
        font-family: var(--mo);
        font-weight: 600;
        font-size: 32px;
        line-height: 41px;
        padding-bottom: 10px;
    }

    section .wrop p {
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        padding-bottom: 0px;
        font-family: var(--in);
    }

    section .wrop .y {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 0px;
        font-family: var(--in);
    }

    section .wrop button {
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        font-weight: 500;
        font-size: 15px;
        line-height: 19.36px;
        font-family: var(--in);
        background-color: rgba(14, 23, 52, 1);
        color: white;
    }

    section .rap h3 {
        font-family: var(--mo);
        font-weight: 600;
        font-size: 31px;
        line-height: 36px;
        margin-bottom: 24;
    }

    section .rap p {
        font-family: var(--in);
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
    }

    section .wop .k h4 {
        font-family: var(--mo);
        font-weight: 600;
        font-size: 31px;
        line-height: 12px;
        color: rgba(25, 34, 82, 1);
        margin-bottom: 24px;
    }

    section .wop .k p {
        font-family: var(--in);
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        margin-bottom: 16px;
    }

    section .wop .k button {
        font-family: var(--in);
        font-weight: 500;
        font-size: 15px;
        line-height: 19.36px;
        border: none;
        padding: 12px 20px;
        border-radius: 4px;
        background-color: rgba(14, 23, 52, 1);
        color: white;
    }

    section .kop .n .b {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section .kop {
        text-align: center;
    }

    section .end .left {
        text-align: center;
        margin-bottom: 10px;
    }

}

@media (max-width:575px) {
    body {
        text-align: center;
    }

    header .wrap {
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    header nav ul li {
        margin: 0;
        padding: 0;
    }

    header .wrap .r button {
        padding: 12px 26px;
        border: none;
        border-radius: 4px;
        font-weight: 500;
        font-size: 15px;
        line-height: 19.36px;
        background-color: rgba(14, 23, 52, 1);
        color: white;
        margin-bottom: 10px;
    }

    section .rap {
        padding: 0px 0px;
    }

    section .wop .k h4 {
        font-family: var(--mo);
        font-weight: 600;
        font-size: 27px;
        line-height: 33px;
        color: rgba(25, 34, 82, 1);
        margin-bottom: 24px;
    }

    section .kop {
        padding: 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section .kop .n h6 {
        font-weight: 600;
        font-size: 26px;
        line-height: 54px;
        font-family: var(--mo);
        margin-bottom: 0px;
        color: #192252;
    }

    section .kop .n .b {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section .kop .n .b button {
        margin-bottom: 20px;
    }

    section .kop .cun h1.l svg {
        display: none;
    }

    section .kop .cun h1.l {
        font-family: var(--mo);
        font-weight: 600;
        font-size: 14px;
        line-height: 0;
        color: rgba(66, 79, 123, 1);
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding-bottom: 10px;
        justify-content: space-between;
        align-items: center;
    }

    section .kop .cun .c {
        padding: 0;
        background-color: #fff;
        border-radius: 4px;
        margin-bottom: 0;
        margin-top: 10px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    section .dop {
        text-align: center;
        padding: 10px 0px;
        text-align: center;
    }

    section .dop h1.f {
        font-family: var(--mo);
        font-weight: 600;
        font-size: 33px;
        line-height: 43px;
        color: rgba(25, 34, 82, 1);
        margin-bottom: 62px;
    }
}






/* xxl-1222
xl-992-1199
lg-768-991
md-576-767
sm-320-575 */